---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Let's start working together!
      </h1>
    </header>
    <div class="flex flex-col text-sm mt-4 w-fit">
      <p>My current tech stack:</p>
        <ul>
          <li>Python (my coding muse)</li>
          <li>PyTorch (where deep learning magic happens)</li>
          <li>Golang (speed demon)</li>
          <li>Docker (container sorcery)</li>
          <li>K3s (mini-k8s, max impact)</li>
        </ul>
      <p>I'm all about collabs on anything ML/DL, classical NLP, foundational models (GPTs, FLUX, Stable Diffusion), or even model serving. Let's build something awesome!
      </p>
    </div>
  </div>
</Card>
